html, body {
  height: 100%;
  background-color: #d9eeba;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.navbar {
    background-color: #85aa4c;
}

.icono-grande {
    font-size: 2rem;
    color: #5f805c;
}

.tipoLetraVar {
    font-family: 'Pacifico', cursive;
    margin-bottom: 200px;
    margin: 1rem;
}

.offcanvas {
    background-color: #6e887fa9;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}